* {
  font-family: 'Maven Pro', sans-serif;

  /** recentar os espaçamentos padrão do navegador**/
  margin:0;
  padding:0;
}

  /** aplicar estilo ao elemento header**/
  header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 12px;

  }

   /** aplicar estilo ao elemento nav**/
   nav{
    background-color: orange;
  }

  /** dispor os elementos na forma horizontal**/
/** no navegador**/
ul{
display: flex;
align-items: center;
height: 100%;

}

nav ul li{
  list-style-type: none;
  margin-left: 16px;
}
